120321_fir_fifo_hardware_restored/*
120321_fir_fifo_hardware.*
*.qarlog
client/build/*
server/build/*
client/client
client/old_client
client/network
server/server
.vscode/*
*.o
tcp_client/network
tcp_server/server